@page
@model CustomMenuModel
@{
    ViewData["Title"] = "Home page";
}

<li class="k-item k-menu-item k-columns-item k-last" aria-haspopup="true" aria-expanded="false" role="menuitem" style="z-index: auto;">
    <span class="k-link k-menu-link">
        <span class="k-icon k-i-columns"></span>
        <span class="k-menu-link-text">Add field</span>
    </span>
</li>


<li class="k-item k-menu-item k-columns-item k-last" aria-haspopup="true" aria-expanded="false" role="menuitem" style="z-index: auto;">
    <span class="k-link k-menu-link">
        <span class="k-icon k-i-columns"></span>
        <span class="k-menu-link-text">Set field type</span>
    </span>
</li>

<li class="k-item k-menu-item k-columns-item k-last" aria-haspopup="true" aria-expanded="false" role="menuitem" style="z-index: auto;">
    <span class="k-link k-menu-link">
        <span class="k-icon k-i-columns"></span>
        <span class="k-menu-link-text">Rename field</span>
    </span>
</li>

<li class="k-item k-menu-item k-columns-item k-last" aria-haspopup="true" aria-expanded="false" role="menuitem" style="z-index: auto;">
    <span class="k-link k-menu-link">
        <span class="k-icon k-i-columns"></span>
        <span class="k-menu-link-text">Edit field description</span>
    </span>
</li>

<li class="k-item k-menu-item k-columns-item k-last" aria-haspopup="true" aria-expanded="false" role="menuitem" style="z-index: auto;">
    <span class="k-link k-menu-link">
        <span class="k-icon k-i-columns"></span>
        <span class="k-menu-link-text">Delete field</span>
    </span>
</li>
